/* You can add global styles to this file, and also import other style files */
body{
        background:url("https://ak1.picdn.net/shutterstock/videos/27146221/thumb/1.jpg"); 
    background-repeat: no-repeat;
    background-size:cover;}

